{% extends 'applicationAuthentication/base.html' %}

{% block title %} signup {% endblock %}

{% block content %}
    <h2>Sign Up please!</h2>
    <form method="post"> 
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.email.label }}
        {{ form.email }}
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password2.label }}
        {{ form.password2 }}
    <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}